<script type="text/javascript">
var lat = 40.718493; //Global variables for lat/long by default in the E.Village/LES area
var long = -73.993177;
var categories = ["Bar","Sports Bar","Dive Bar","Pub","Restaurant","Nightclub"]

$(document).ready(function(){
	navigator.geolocation.getCurrentPosition(foundLocation, noLocation);
	function foundLocation(position){
	  lat = position.coords.latitude;
	  long = position.coords.longitude;
	}
	function noLocation(){
	  alert('Could not find location');
	}
	//Clear the list in the center
	$('ul.venue_list').html("");
	venue_rank = 0;
	$.ajax({
		url: 'https://api.foursquare.com/v2/venues/trending?ll='+lat+','+long+'&oauth_token=2MBSVSBZNE5LHAA4RKQNXZI1Q30BXD1PR12ALR12KQTPLBF1',
		dataType: 'json',
		async: false,
		success: 	function(venue_data){
						var venue_list = venue_data['response']['venues'];
						$.each(venue_list, 	function(k){
												venue_rank = venue_rank + 1;
												//First need to narrow down according to the categories array.
												//Do that later
												
												
												//Second need to collect all the patrons and calculate ratios, survivors, etc.
												var girl_count_w = 0;
												var guy_count_w = 0;
												var girl_count = 0;
												var guy_count = 0;
												var current_time = new Date();
												var epochtime = current_time.getTime();
												$.ajax({
													url: 'https://api.foursquare.com/v2/venues/'+venue_list[k]['id']+'/herenow?oauth_token=2MBSVSBZNE5LHAA4RKQNXZI1Q30BXD1PR12ALR12KQTPLBF1',
													dataType: 'json',
													async: false,
													success: 	function(patron_data){
														var patron_list = patron_data['response']['hereNow']['items'];
														$.each(patron_list, function(l){
															m = ((epochtime - patron_list[l]['createdAt'])/60);
															if(patron_list[l]['user']['gender'] == 'female'){
																girl_count = girl_count + 1;
															}
															else{
																guy_count = guy_count + 1;
															}
														});
													}
												});
						//Need to append the venue information to the trending_list_dive
						var venue_html = '<li class="venue"><span class="rank">'+venue_rank+'</span>';
						venue_html = venue_html + '<span class="venue_name">';
						venue_html = venue_html + venue_list[k]['name'];
						venue_html = venue_html + '</span><br/><span class="venue_stats"><span class="icon people_icon">u</span>';
						venue_html = venue_html + (girl_count + guy_count);
						venue_html = venue_html	+ ' | <span class="icon graph_icon">C</span>'+ Math.round((girl_count*100/(girl_count+guy_count))*100)/100 +'%</span>';
						venue_html = venue_html + '<span id="map_link"><a href="http://maps.google.com/maps?q='+ venue_list[k]["location"]["address"] + '&new&york&ny" target="_blank"/><span class="icon view-button">⬇</span></a></span>';
						venue_html = venue_html + '<span id="'+ venue_list[k]["id"] + '" class="icon view-button">E</span></li>'
						
						$('ul.venue_list').append(venue_html);
						
						});
					}
	});
})

</script>

<div class="trending_list">
	<% 

	rank = 1
	trending_data = trending({:ll => '40.718493,-73.993177', :radius => 3000})
	categories = ["Bar","Sports Bar","Dive Bar","Pub","Restaurant","Nightclub"]
	
	%>

	<% if trending_data["response"]["venues"].empty? %>
		<ul class="venue_list">
			<li class="venue">Boring</li>
		</ul>		

	<% else %>
		<ul class="venue_list">
	  <% trending_data["response"]["venues"].each do |i|
		
			good_category = 0
			i['categories'].each do |j|
	  	  		if categories.include?(j['name'])
    		  		good_category = 1
  				end  
			end
          
      if good_category == 1 %>

				<% patron_list = herenow(i['id'])
					girl_count_w = 0
					guy_count_w = 0
					girl_count = 0
					guy_count = 0
					patron_list['response']['hereNow']['items'].each do |k|
						m = ((Time.now.to_i - k['createdAt'])/60)
						p = 1-1/(1+1*2**(-(Float(m)/9-6))) 
						if k['user']['gender'] == 'female'
							girl_count_w += p
							girl_count += 1
						else
							guy_count_w += p
							guy_count += 1
						end
					end
				%>

		<% if girl_count_w.to_f/(girl_count_w.to_f+guy_count_w.to_f)*100 > 35 && girl_count_w.to_f+guy_count_w.to_f > 2 %>	

				<li class="venue"><span class="rank"><%= rank %></span>
					<span class="venue_name">
						<% cur_venue = Venue.find_by_foursquare_id(i['id']) %>
						<%= link_to i['name'], cur_venue, :target => '_blank' %>
					</span>
					<br/>
					<span class="venue_stats">	
						<span class="icon people_icon">u</span><%= format("%.1f\n",girl_count_w.to_f+guy_count_w.to_f) %>
						| <span class="icon graph_icon">C</span><%= format("%.1f\n",(girl_count_w.to_f/(girl_count_w.to_f+guy_count_w.to_f)*100)) %>%
					</span>
					
					<% if i['location']['address'].nil? %>
						<span id="map_link" ><a href="#"><span class="icon view-button">⬇</span></a></span>
					<% else %>					
						<span id="map_link"><a href="http://maps.google.com/maps?q=<%= i['location']['address'].gsub(',','').split( /  */ ).join('%20') %>&new&york&ny" target="_blank"/><span class="icon view-button">⬇</span></a></span>
					<% end %>
					
					<span id="<%= i['id'] %>" class="icon view-button">E</span>
				</li>
				<% rank +=1 %>
				
				
				<% if i['hereNow']['count'] > 0 %>
					<div class="<%= i['id'] %> girl_list hidden">

					<ul class="patron_list" id="<%= i['id'] %>">
					<% patron_count = 0 %>
					<% patron_list['response']['hereNow']['items'].each do |k| %>

						<% if k['user']['gender'] == 'female' %>
							<% if patron_count == 0 %>
								<li class="patron" id="patron_0">
								<% patron_count += 1 %>							
							<% else %>
								<li class="patron hidden" id="patron_<%= patron_count %>">
								<% patron_count += 1 %>							
							<% end %>
								<span id="<%= i['id'] %>" class="icon left_arrow">←</span>
									<img src="<%= k['user']['photo'] %>" width="40"/>
										<div class="patron_data">
											<span class="name"><%= k['user']['firstName'] %> <%= k['user']['lastName'] %></span>
								 			<br/>Checked in <%= ((Time.now.to_i - k['createdAt'])/60) %> minutes ago
										</div>
								<span id="<%= i['id'] %>" class="icon right_arrow">→</span>		
								</li>
						<% end %>

					<% end %>
					</ul>

					</div>
					<% end %>
				<% end %>

				

			<% end %>

	  <% end %>
	<% end %>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var cur_patron = 0;	
	$("span.view-button").click(function(){
		var divid = "div." + $(this).attr("id");
		$(divid).siblings().addClass("hidden");
		$(divid).slideToggle("slow");
		cur_patron = 0;
	});
	
	$("span.left_arrow").click(function(){
		var venid = $(this).attr("id");
		var cur_list = "ul#" + venid;
		if($(this).parent().index()==0){
			
		}
		else{
			$(this).parent().addClass("hidden");
			$(this).parent().prev().removeClass("hidden");
		}
	});
	
	$("span.right_arrow").click(function(){
		var venid = $(this).attr("id");
		var cur_list = "ul#" + venid;
		if($(this).parent().index()==$(this).parent().siblings().length-1){
			
		}
		else{
			$(this).parent().addClass("hidden");
			$(this).parent().next().removeClass("hidden");
		}
	});
	
});
</script>