<script type="text/javascript">
  navigator.geolocation.getCurrentPosition(getLocation, unknownLocation);
 
  function getLocation(pos)
  {
    var latitde = pos.coords.latitude;
    var longitude = pos.coords.longitude;
    alert('Your current coordinates (latitide,longitude) are : ' + latitde + ', ' + longitude);
  }
  function unknownLocation()
  {
    alert('Could not find location');
  }
</script>

<table>
	<% trending({:ll => '40.723291,-73.991815'})["response"]["venues"].each do |i| %>
		
		<% i['categories'].each do |j| %>
		
			<% if j['name'] == "Bar" || j['name'] == "Sports Bar" || j['name'] == "Dive Bar" || j['name'] == "Pub" || j['name'] == "Restaurant" %>
				<tr><td><%= i['name'] %></td><td><%= i['location']['address'] %></td><td><%= i['hereNow']['count'] %></td></tr>
				<% if i['hereNow']['count'] > 0 %>
					<% herenow(i['id'])['response']['hereNow']['items'].each do |k| %>
					
						<% if k['user']['gender'] == 'female' %>
							<tr><td>----></td><td><img src="<%= k['user']['photo'] %>" width="25"/></td><td><%= k['user']['firstName'] %></td><td><%= k['user']['lastName'] %></td><td><%= k['user']['gender'] %></td></tr>
						<% end %>
					
					<% end %>
				<% end %>
			<% end %>
			
		<% end %>
	<% end %>
		
</table>