<div class="trending_list">
	<% 

	rank = 1
	trending_data = trending({:ll => '40.718493,-73.993177', :radius => 3000})
	categories = ["Bar","Sports Bar","Dive Bar","Pub","Restaurant","Nightclub"]
	
	%>

	<% if trending_data["response"]["venues"].empty? %>
		<ul class="venue_list">
			<li class="venue">People are LAME!</li>
		</ul>		

	<% else %>
		<ul class="venue_list">
	  <% trending_data["response"]["venues"].each do |i|
		
			good_category = 0
			i['categories'].each do |j|
	  	  		if categories.include?(j['name'])
    		  		good_category = 1
  				end  
			end
          
      if good_category == 1 %>

				<% patron_list = herenow(i['id'])
					girl_count_w = 0
					guy_count_w = 0
					girl_count = 0
					guy_count = 0
					patron_list['response']['hereNow']['items'].each do |k|
						m = ((Time.now.to_i - k['createdAt'])/60)
						p = 1-1/(1+1*2**(-(Float(m)/9-6))) 
						if k['user']['gender'] == 'female'
							girl_count_w += p
							girl_count += 1
						else
							guy_count_w += p
							guy_count += 1
						end
					end
				%>

		<% if girl_count_w.to_f/(girl_count_w.to_f+guy_count_w.to_f)*100 > 35 && girl_count_w.to_f+guy_count_w.to_f > 2 %>	

				<li class="venue"><span class="rank"><%= rank %></span>
					<span class="venue_name">
						<a href="http://maps.google.com/maps?q=<%= i['location']['address'].gsub(',','').split( /  */ ).join('%20') %>&new&york&ny" target="_blank"/><%= i['name'] %></a>
					</span>
					<br/>
					<span class="venue_stats">	
						<span class="icon people_icon">u</span><%= format("%.1f\n",girl_count_w.to_f+guy_count_w.to_f) %>
						| <span class="icon graph_icon">C</span><%= format("%.1f\n",(girl_count_w.to_f/(girl_count_w.to_f+guy_count_w.to_f)*100)) %>%
					</span>
					
					<span id="<%= i['id'] %>" class="icon view-button">E</span>
				</li>
				<% rank +=1 %>
				
				
				<% if i['hereNow']['count'] > 0 %>
					<div class="<%= i['id'] %> girl_list hidden">
					<span id="<%= i['id'] %>" class="icon left_arrow">←</span>
					<ul class="patron_list" id="<%= i['id'] %>">
					<% patron_count = 0 %>
					<% patron_list['response']['hereNow']['items'].each do |k| %>

						<% if k['user']['gender'] == 'female' %>
							<% if patron_count == 0 %>
								<li class="patron" id="patron_0">
								<% patron_count += 1 %>							
							<% else %>
								<li class="patron hidden" id="patron_<%= patron_count %>">
								<% patron_count += 1 %>							
							<% end %>
									<img src="<%= k['user']['photo'] %>" width="40"/>
										<div class="patron_data">
											<span class="name"><%= k['user']['firstName'] %> <%= k['user']['lastName'] %></span>
								 			<br/>Checked in <%= ((Time.now.to_i - k['createdAt'])/60) %> minutes ago
										</div>
								</li>
						<% end %>

					<% end %>
					</ul>
					<span id="<%= i['id'] %>" class="icon right_arrow">→</span>
					</div>
					<% end %>
				<% end %>

				

			<% end %>

	  <% end %>
	<% end %>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$("span.view-button").click(function(){
		var divid = "div." + $(this).attr("id");
		$(divid).siblings().addClass("hidden");
		$(divid).slideToggle("slow");
	});
	
	var cur_patron = 0;
	
	$("span.left_arrow").click(function(){
		var venid = $(this).attr("id");
		var cur_list = "ul#" + venid;
		$(cur_list + " li#patron_" + cur_patron).addClass("hidden");
		$(cur_list + " li#patron_" + (cur_patron-1)).removeClass("hidden");
		cur_patron = cur_patron - 1;
	});
	
	$("span.right_arrow").click(function(){
		var venid = $(this).attr("id");
		var cur_list = "ul#" + venid;
		$(cur_list + " li#patron_" + cur_patron).addClass("hidden");
		$(cur_list + " li#patron_" + (cur_patron+1)).removeClass("hidden");
		cur_patron = cur_patron + 1;
	});
	
});
</script>