<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "custom" %>
  <%= stylesheet_link_tag "venues" %>
  <%= stylesheet_link_tag "ficostyle" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "RGraph.bar" %>
  <%= javascript_include_tag "RGraph.bipolar" %>
  <%= javascript_include_tag "RGraph.common.adjusting" %>
  <%= javascript_include_tag "RGraph.common.annotate" %>
  <%= javascript_include_tag "RGraph.common.context" %>
  <%= javascript_include_tag "RGraph.common.core" %>
  <%= javascript_include_tag "RGraph.common.effects" %>
  <%= javascript_include_tag "RGraph.common.key" %>
  <%= javascript_include_tag "RGraph.common.resizing" %>
  <%= javascript_include_tag "RGraph.common.tooltips" %>
  <%= javascript_include_tag "RGraph.common.zoom" %>
  <%= javascript_include_tag "RGraph.fuel" %>
  <%= javascript_include_tag "RGraph.funnel" %>
  <%= javascript_include_tag "RGraph.gantt" %>
  <%= javascript_include_tag "RGraph.gauge" %>
  <%= javascript_include_tag "RGraph.hbar" %>
  <%= javascript_include_tag "RGraph.hprogress" %>
  <%= javascript_include_tag "RGraph.line" %>
  <%= javascript_include_tag "RGraph.meter" %>
  <%= javascript_include_tag "RGraph.modaldialog" %>
  <%= javascript_include_tag "RGraph.odo" %>
  <%= javascript_include_tag "RGraph.pie" %>
  <%= javascript_include_tag "RGraph.radar" %>
  <%= javascript_include_tag "RGraph.rose" %>
  <%= javascript_include_tag "RGraph.rscatter" %>
  <%= javascript_include_tag "RGraph.scatter" %>
  <%= javascript_include_tag "RGraph.skeleton" %>
  <%= javascript_include_tag "RGraph.thermometer" %>
  <%= javascript_include_tag "RGraph.vprogress" %>
  <%= javascript_include_tag "RGraph.waterfall" %>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport"  content="width=device-width,  minimum-scale=1.0, maximum-scale=1.0" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="iphone_wrapper">
		<%= render 'layouts/header' %>
		<%= render 'layouts/footer' %>		
		<div class="content_wrapper">
			<%= yield %>
		</div>
	</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
